
<h4>雑貨屋投稿一覧</h4>

<table class="table">

    <tr>
      <th>投稿写真</th>
      <th>投稿者名</th>
      <th>投稿日</th>
      <th>エリア</th>
      <th>紹介文</th>
    </tr>
<% @post_shops.each do |post_shop| %>
    <tr>
      <td>
        <% if post_shop.image.attached? %>
        <%= image_tag post_shop.image, size: "200x200" %>
        <% else %>
        <%= image_tag 'no_image', size: "200x200" %>
        <% end %>
      </td>
      <td><%= post_shop.customer.nickname %></td>
      <td><%= post_shop.created_at.strftime('%Y/%m/%d') %></td>
      <td><%= post_shop.area.name %></td>
      <td><%= post_shop.introduction %></td>
    </tr>
<% end %>
</table>
