<body>
  <div class = "title">
    <h4><%= image_tag "pagu.jpg", size: '80x80' %>お部屋紹介編集</h4></div>
  <div class = "text">
      <%= form_with model: @post_room, url: update_room_path, method: :patch, remote: true do |f| %>
      <div class="container w-50">
      <div class="row row-cols-2 mb-2">
      <div class="col">お部屋画像</div>
      <div class="col"><%= f.file_field :image, accept: "image/*" %></div>
      </div>
    <div class="row row-cols-2 mb-2">
      <div class="col">タイトル</div>
      <div class="col"><%= f.text_field :name %></div>
    </div>
    <div class="row row-cols-2 mb-2">
      <div class="col">お部屋説明</div>
      <div class="col"><%= f.text_area :comment %></div>
    </div>
    <div class="row row-cols-2 mb-2">
      <div class="col"></div>
      <div class="col"><%= f.submit '変更を保存' %></div>
    </div>
  </div>
  </div>
    <% end %>
    <div class="row row-cols-2 mb-2">
      <div class="col"></div>
      <div><%= link_to "削除する", destroy_room_path(@post_room.id), class:"btn btn-outline-dark",method: :delete, "data-confirm" => "本当に削除しますか？" %></div>
</body>



