<h4 class="mark">お部屋一覧

    <%= link_to "新規投稿", rooms_new_path, class:"btn btn-outline-success" %>

</h4>

  <div class="col-md-8 offset-md-1">
<table class="table">
<thead>
    <tr>
      <th>お部屋画像</th>
      <th>タイトル</th>
      <th>投稿者</th>
      </tr></thead>
<% @post_rooms.each do |post_room| %>
<tr>
      <td>
        <% if post_room.image.attached? %>
        <%= image_tag post_room.image, size: "100x100" %>
        <% else %>
        <% end %></td>
      <td><%= post_room.name %></td>
      <td><%= post_room.customer.nickname %></td>
      <td><%= link_to '編集する', "/rooms/#{post_room.id}/edit", class:"btn btn-outline-success" %></td>



<% end %>

