<body>
  <div class = "title">
    <h4 class = "mark">会員一覧</h4>
  </div>
  <div class = "text">
  <table class="table">

    <tr>
      <th>会員ID</th>
      <th>氏名</th>
      <th>投稿名</th>
      <th>メールアドレス</th>
      <th>ステータス</th>
    </tr>
<% @customers.each do |customer| %>
<tr>
      <td><%= customer.id %></td>
      <% if admin_signed_in? %>
      <td><%= link_to customer.name,admin_customer_path(customer),class:"btn btn-outline-danger" %></td>
      <% else %>
      <td><%= customer.name %></td>
      <% end %>
      <td><%= customer.nickname %></td>
      <td><%= customer.email %></td>
      <td>
      <% if customer.is_deleted== false %>有効
      <% else %>
      退会
      <% end %></td>
  </tr>
      <% end %>
 </table>

      <%= paginate @customers %>
    </div>

<div class = "title">
    <h4 class = "mark">星評価一覧</h4>
  </div>
  <div class = "text">
  <table class="table">

<% @shop_comments.each do |t| %>
  <tbody>
    <tr>
      <td>店舗名</td>
      <td><%= t.post_shop.name %></td>
    </tr>

    <tr>
    <td>星評価</td>
    <td><% if t.rate? %>
    <% for i in 1..t.rate do %>
    ★
    <% end %>
    <% end %></td>
    </tr>
    <tr>
      <td>コメント</td>
      <td><%= t.comment %></td>
    </tr>
    <tr>
    <td><%= link_to "削除", admin_destroy_shop_comment_path(t.id), method: :delete %></td>
    <td></td>
    </tr>
<% end %></table>
</body>