
<h4>お部屋紹介投稿一覧</h4>

  <div class="col-md-8 offset-md-1">
<table class="table">

    <tr>
      <th>投稿写真</th>
      <th>投稿者名</th>
      <th>投稿日</th>
      <th>コメント</th>
    </tr>
<% @post_rooms.each do |post_room| %>
    <tr>
      <td>
          <% if post_room.image.attached? %>
          <%= image_tag post_room.image, size: "200x200" %>
          <% else %>
          <%= image_tag 'no_image', size: "200x200" %>
          <% end %>
      </td>
      <td><%= post_room.name %></td>
      <td>
      <%= post_room.created_at.strftime('%Y/%m/%d') %>
      </td>
      <td><%= post_room.comment %></td>
      <td><%= link_to '編集する', "/admin/post_rooms/#{post_room.id}", class:"btn btn-outline-dark" %></td>
    </tr>
<% end %>
</table>
</div>