<h4 class="mark mb-5">エリア編集</h4>

<div class="field">
  <%= form_with model: @area, url: admin_area_path, method: :patch, remote: true do |f| %>
    <%= f.label :name, "エリア名" %>
    <%= f.text_field :name, autocomplete: "name" %>
  </div>

<div class="actions2">
    <%= f.submit "変更を保存",class:"btn btn-outline-success mt-5" %></br>
</div>
  <% end %>
  <%= link_to "削除する", admin_destroy_area_path,class:"btn btn-outline-dark mt-5",method: :delete, "data-confirm" => "本当に削除しますか？" %>
