<body>
  <div class = "title">
    <h4><%= image_tag "ring.jpg", size: '80x80' %>店舗投稿編集</h4></div>
  <div class = "text">
      <%= form_with model: @post_shop, url: update_shop_path, method: :patch, remote: true do |f| %>
      <div class="container w-50">
      <div class="row row-cols-2 mb-2">
      <div class="col">店舗画像</div>
      <div class="col"><%= f.file_field :image, accept: "image/*" %></div>
      </div>
    <div class="row row-cols-2 mb-2">
      <div class="col">店舗名</div>
      <div class="col"><%= f.text_field :name,autocomplete: "name" %></div>
    </div>
    <div class="row row-cols-2 mb-2">
      <div class="col">店舗説明</div>
      <div class="col"><%= f.text_area :introduction %></div>
    </div>
    <div class="row row-cols-2 mb-2">
      <div class="col">投稿者</div>
      <div class="col"><%= @post_shop.customer.nickname %></div>
    </div>
    <div class="row row-cols-2 mb-2">
      <div class="col">エリア</div>
      <div class="col"><%= f.collection_select :area_id, Area.all, :id, :name, include_blank: "--選択して下さい--" %></div>
    </div>
    <div class="row row-cols-2 mb-2">
      <div class="col"></div>
      <div class="col"><%= f.submit '変更を保存' %></div>
    </div>
    <%= link_to "投稿を削除", destroy_shop_path(@post_shop.id), method: :delete, "data-confirm" => "本当に削除しますか？" %>

  </div>
  </div>

      <% end %>

  </body>







