<h4><%= image_tag "aroma.jpg", size: '80x80' %>雑貨屋一覧
<% if customer_signed_in? %>
<%= link_to "新規投稿", shops_new_path, class:"btn btn-outline-dark" %>
<% else %>
<% end %>
</h4>
  <div class="container">
  <div class="row">
    <div class="col-md-4 mb-4">
      <div class="card">
        見本<%= image_tag "no_image.jpg",size: "200x180", class: 'card-img-top' %>
        <button type="button" class="btn btn-outline-danger">店舗名</button>
        投稿者名：</br>
        エリア：

      </div>
</div>


<% @post_shops.each do |post_shop| %>

<div class="col-md-4 mb-4">
      <div class="card">
      <% if post_shop.image.attached? %>
        <%= image_tag post_shop.image, size: "200x200", class: 'card-img-top' %>
        <% else %>
        <%= image_tag 'no_image', size: "200x200", class: 'card-img-top' %>
        <% end %>

      <%= link_to post_shop.name, "/shops/#{post_shop.id}" ,class:"btn btn-outline-dark" %>
      <%= post_shop.customer.nickname %></br>

      <%= post_shop.area_id %>
      </div>
</div>
<% end %>

    </div>
  </div>
  <!--</div>-->
