<h4 class="mark">店舗一覧
  <div class="container">


  <div class="col">
    <%= link_to shops_new_path, class: "no-underline" do %>
  <i class="fa-solid fa-circle-plus"></i>
    <% end %>
  </div></div>
</h4>


<table class="table">
<thead>
    <tr>
      <th>店舗画像</th>
      <th>店舗名</th>
      <th>投稿者</th>
      <th>エリア</th>
      </tr></thead>
<% @post_shops.each do |post_shop| %>
<tr>
      <td>
        <% if post_shop.image.attached? %>
        <%= image_tag post_shop.image, size: "100x100" %>
        <% else %>
        <% end %></td>
      <td><%= link_to post_shop.name, "/shops/#{post_shop.id}" ,class:"btn btn-outline-danger" %></td>
      <td><%= post_shop.customer.nickname %></td>

      <td><%= post_shop.area.name %></td>

<% end %>

