
<table class="table">
<h4 class="mark">店舗詳細</h4>
<thead>
    <tr>
      <th>店舗画像</th>
      <th>店舗名</th>
      <th>説明</th>
      <th>エリア</th>
      <th>投稿者</th>
      </tr></thead>
      <tr>
      <td><%= image_tag @post_shop.image, size: "100x100" %></td>
      <td><%= @post_shop.name %></td>
      <td><%= @post_shop.introduction %></td>
      <td><%= @post_shop.area.name %></td>
      <td><%= @post_shop.customer.nickname %></td>
      <% if current_customer %>
      <td><%= link_to '編集する', edit_shop_path, class:"btn btn-outline-success" %></td>
      <% else %>
      <% end %>

</thead>
 <% if @post_shop.liked_by?(current_customer) %>

      <td><%= link_to image_tag("star.on.png",size: '50x50'), post_shop_likes_path(@post_shop), method: :delete %></td>
    <% else %>
      <td><%= link_to image_tag("star.off.png",size: '50x50'), post_shop_likes_path(@post_shop), method: :post %></td>
    <% end %>



<!--<= form_with model: @shop_comment, url: shop_path,local: true do |f| %>-->
<%= form_for(@shop_comment, :url=> {controller:'public/shop_comments', action:'create'})do |f| %>
<div class= "star-field">
    <input id="star5" type="radio" name="shop_comment[rate]" value="5" />
    <label for="star5">★</label>
    <input id="star4" type="radio"  name="shop_comment[rate]" value="4" />
    <label for="star4">★</label>
    <input id="star3" type="radio"  name="shop_comment[rate]" value="3" />
    <label for="star3">★</label>
    <input id="star2" type="radio"  name="shop_comment[rate]" value="2" />
    <label for="star2">★</label>
    <input id="star1" type="radio"  name="shop_comment[rate]" value="1" />
    <label for="star1">★</label>

<%= hidden_field_tag "shop_comment[post_shop_id]", @post_shop.id %>
</div>
<%= f.submit "評価する" %>
<% end %>

<% @shop_comments.each do |t| %>
<div class="rate">
    <% if t.rate? %>
    <% for i in 1..t.rate do %>
    ★
    <% end %>
    <% end %>
</div>

<% end %>
